body {
  margin: 0;
  background-image: conic-gradient(#ffead5, #AD2480, #ffe3a786);
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
  backdrop-filter: blur(100px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media screen and (max-width: 750px) {
  body {
    margin: 0;
    background-image: conic-gradient(#ffead5, #AD2480, #ffe3a786);
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
    backdrop-filter: blur(100px);
    height: 100vh;
    -webkit-backdrop-filter: blur(100px)
  }
}